<h3>Create an account</h3>
<form  (ngSubmit)="onSubmit()" class="ui form" [formGroup]="authForm">

  <app-input label="Username" [control]="authForm.controls.username"></app-input>

  <app-input label="Password" inputType="password" [control]="authForm.controls.password"></app-input>

  <app-input label="Password confirmation" inputType="password"
    [control]="authForm.controls.passwordConfirmation"></app-input>

  <div *ngIf="authForm.errors" class="ui red basic label">
    <p  *ngIf="$any(authForm.errors).passwordsDontMatch">
      Password and password confirmation must match.

    </p>

    <p *ngIf="$any(authForm.errors).signUpUnsuccessful">
      Sign up was unsuccessful

    </p>

  </div>

  <div>
    <button class="ui submit button primary">Submit</button>

  </div>

</form>


<!-- <div>
  Authform is valid: {{authForm.valid}}
</div>


<div>
  Username errors: {{$any(authForm.get('username')).errors | json}}
</div> -->
<!-- <div>
  Authfort errors: {{$any(authForm).errors | json}}
</div> -->
